# ==========================================
#      RECOVERiT - GITIGNORE TEMPLATE
# ==========================================


/Recovered_Photos/
/backup/
/extracted/
*.jpg
*.jpeg
*.png
*.mp4
*.heic


*.log
adb_log.txt


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


*.swp
*.swo
*~
.vscode/
.idea/
